
.form-group {
  position: relative;
      margin-bottom: 2rem;

  .form-control {
    border-radius: 0;


    &:focus {
      border-radius: 0;
      border-color: inherit;
      outline: 0;
      box-shadow: none;
    }
  }

  .form-control-placeholder {
    position: absolute;
    bottom: 0;
    transition: all 200ms;
    opacity: 0.5;
    outline: none;
    color: #414143;
  }

  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -130%, 0);
    opacity: 1;

  }

  input:-webkit-autofill {
    background-color: white !important;
  }
}
