/* comman cta button */
.cta {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center !important;
  border-radius: 2em;
  padding: 0 10px;
  cursor: pointer;
  background: #EE603D;
  color: white;
  border: 1px solid #EE603D;
  font-size: 1.5rem;
  min-width: 18rem;
  max-width: 18rem;
  min-height: 3rem;
  height: 3rem;
  font-weight: 300;

  &:hover {
    color: white;
  }

  &:focus {
    outline: none;
  }
}

/*code for google btn */
//
// a.btn-google {
//   color: #fff;
// }
//
// .cta-google-btn {
//   padding: 10px 16px;
//   margin: 5px;
//   font-size: 18px;
//   line-height: 1.3333333;
//   border-radius: 2em;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: middle;
//   -ms-touch-action: manipulation;
//   touch-action: manipulation;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   border: 1px solid transparent;
//   font-weight: 500;
//   text-decoration: none;
//   display: inline-block;
// }
//
// .btn-google {
//   color: #fff;
//   background-color: #111;
//   border-color: #000;
//   padding: 15px 16px 5px 40px;
//   position: relative;
//   font-family: fontfutura;
//   font-weight: 600;
// }
//
// .btn-google:before {
//   content: "";
//   background-image: url("https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png");
//   background-size: cover;
//   background-repeat: no-repeat;
//   width: 30px;
//   height: 30px;
//   position: absolute;
//   left: 6px;
//   top: 50%;
//   margin-top: -15px;
// }
//
// .btn-google:after {
//   content: "GET IT ON";
//   position: absolute;
//   top: 5px;
//   left: 40px;
//   font-size: 10px;
//   font-weight: 400;
// }
//end google btn
