/* font for google play button */
// @font-face {
//   font-family: "fontfutura";
//   src: url("https://fonts.googleapis.com/css?family=Open+Sans") format("ttf");
//   font-weight: normal;
//   font-style: normal;
// }