.footer {
  background: #090909;
  color: white;
}

.play_btn {
  max-width: 160px;
  @include mobile{
    max-width: 135px;
  }
}

.social_icons {
  display: flex;
  justify-content: space-between;
  @include mobile {
    justify-content: space-evenly;
  }
  @include tablet {
    max-width: 60%;
    margin: 0 auto;
  }
  @include tablet-landscape {
    max-width: 100%;
  }

  img {
    max-width: 1.2rem;
  }
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  @include mobile {
    font-size: 12px;
    text-align: center;
  }
  @include tablet {
    text-align: center;
  }
  @include tablet-landscape {
    text-align: inherit;
  }
}

.loop-logo {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include tablet-landscape {
    display: block;
  }
}

.social_content {
  @include tablet-landscape {
    left: 3rem;
  }
}
