header {
  box-shadow: 0 2px 10px -6px rgba(0, 0, 0, 0.5);
  @include mobile {
    min-height: 10vh;
  }
}

.navbar {
  background: white;
  padding: 1rem 4rem;
  box-shadow: 0 2px 10px -6px rgba(0, 0, 0, 0.5);
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  @include mobile {
    padding: 1rem;
    width: 100%;
    min-height: 10vh;
  }

.navbar-brand{
  img{
      width:7rem;
  }
}
  .navbar-toggler {
    background-color: transparent;
    // border: 2px solid $orange;
    border-radius: 50%;
    @include mobile {
      position: relative;
      height: 2rem;
      max-height: 2rem;
      width: 2rem;
      max-width: 2rem;
    }
    @include tablet {
      position: relative;
      height: 2rem;
      max-height: 2rem;
      width: 2rem;
      max-width: 2rem;
    }

    &:focus {
      outline: 0;
    }

    .ham-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $orange;
      opacity: 1;
      img{
          width:30px;
          height: 30px;
      }
    }
    .ham{
      img{
        width:30px;
          height: 30px;
      }
    }

    .navbar-toggler-icon {
      height: initial;
      width: initial;

      .fa-bars {
        //  margin-left: -4px;
      }
    }
  }

  img {
    @include mobile {
      width: 80%;
    }
  }

  ul {
    width: 100%;
    @include mobile {
      border-top: 1px solid #DEDEDE;
    }
    @include tablet {
      border-top: 1px solid #DEDEDE;
    }
    @include tablet-landscape {
      border-top: 1px solid #DEDEDE;
    }
    @media only screen and (min-width: 1000px) and (max-width: 1030px) {
      border-top: none;
    }


    .nav-item {
      // padding-left: 2rem;
      @include mobile {
        border-bottom: 1px solid #d8d8d882;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      @include tablet {
        border-bottom: 1px solid #d8d8d882;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      @include tablet-landscape{
        border-bottom: 1px solid #d8d8d882;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      @media only screen and (min-width: 1000px) and (max-width: 1030px) {
        border: none;
      }

      &:last-child {
        @include mobile {
          border-bottom: none;
          padding-bottom: 0;
        }
        @include tablet {
          border-bottom: none;
          padding-bottom: 0;
        }
      }

      .nav-link {
        color: #3D3D3F;
        font-size: 20px;
        font-weight: 400;
        @include mobile {
          display: flex;
          justify-content: center;
        }
        @include tablet {
          display: flex;
          justify-content: center;
        }
      }

      .active {
        color: $orange !important;
      }
    }
  }

  #navbarTogglerDemo02 {
    @include mobile {
      margin: 0 -1rem;
      padding-top: 0.4rem;
    }
    @include tablet {
      margin: 0 -4rem;
      padding-top: 0.4rem;
    }
  }
.close{
  img{
    @include tablet{
      width: 100%;
    }
  }
}
  .navbar-toggler > .close {
    display: inline;
  }

  .navbar-toggler.collapsed > .close,
  .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
    display: none;
  }
  .navbar-nav{
    flex-basis: 50%;
  }
}
