$tablet-width: 768px;
$tablet-landscape-width: 1030px;
$desktop-width: 1024px;
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (min-width: #{$tablet-width + 1}) and (max-width: #{$tablet-landscape-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
