.form-group {
  position: relative;
  margin-bottom: 2rem; }
  .form-group .form-control {
    border-radius: 0; }
    .form-group .form-control:focus {
      border-radius: 0;
      border-color: inherit;
      outline: 0;
      box-shadow: none; }
  .form-group .form-control-placeholder {
    position: absolute;
    bottom: 0;
    transition: all 200ms;
    opacity: 0.5;
    outline: none;
    color: #414143; }
  .form-group .form-control:focus + .form-control-placeholder,
  .form-group .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -130%, 0);
    opacity: 1; }
  .form-group input:-webkit-autofill {
    background-color: white !important; }

header {
  box-shadow: 0 2px 10px -6px rgba(0, 0, 0, 0.5); }
  @media (max-width: 767px) {
    header {
      min-height: 10vh; } }

.navbar {
  background: white;
  padding: 1rem 4rem;
  box-shadow: 0 2px 10px -6px rgba(0, 0, 0, 0.5);
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky; }
  @media (max-width: 767px) {
    .navbar {
      padding: 1rem;
      width: 100%;
      min-height: 10vh; } }
  .navbar .navbar-brand img {
    width: 7rem; }
  .navbar .navbar-toggler {
    background-color: transparent;
    border-radius: 50%; }
    @media (max-width: 767px) {
      .navbar .navbar-toggler {
        position: relative;
        height: 2rem;
        max-height: 2rem;
        width: 2rem;
        max-width: 2rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .navbar .navbar-toggler {
        position: relative;
        height: 2rem;
        max-height: 2rem;
        width: 2rem;
        max-width: 2rem; } }
    .navbar .navbar-toggler:focus {
      outline: 0; }
    .navbar .navbar-toggler .ham-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #EE603D;
      opacity: 1; }
      .navbar .navbar-toggler .ham-icons img {
        width: 30px;
        height: 30px; }
    .navbar .navbar-toggler .ham img {
      width: 30px;
      height: 30px; }
    .navbar .navbar-toggler .navbar-toggler-icon {
      height: initial;
      width: initial; }
  @media (max-width: 767px) {
    .navbar img {
      width: 80%; } }
  .navbar ul {
    width: 100%; }
    @media (max-width: 767px) {
      .navbar ul {
        border-top: 1px solid #DEDEDE; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .navbar ul {
        border-top: 1px solid #DEDEDE; } }
    @media (min-width: 769px) and (max-width: 1030px) {
      .navbar ul {
        border-top: 1px solid #DEDEDE; } }
    @media only screen and (min-width: 1000px) and (max-width: 1030px) {
      .navbar ul {
        border-top: none; } }
    @media (max-width: 767px) {
      .navbar ul .nav-item {
        border-bottom: 1px solid #d8d8d882;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .navbar ul .nav-item {
        border-bottom: 1px solid #d8d8d882;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; } }
    @media (min-width: 769px) and (max-width: 1030px) {
      .navbar ul .nav-item {
        border-bottom: 1px solid #d8d8d882;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; } }
    @media only screen and (min-width: 1000px) and (max-width: 1030px) {
      .navbar ul .nav-item {
        border: none; } }
    @media (max-width: 767px) {
      .navbar ul .nav-item:last-child {
        border-bottom: none;
        padding-bottom: 0; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .navbar ul .nav-item:last-child {
        border-bottom: none;
        padding-bottom: 0; } }
    .navbar ul .nav-item .nav-link {
      color: #3D3D3F;
      font-size: 20px;
      font-weight: 400; }
      @media (max-width: 767px) {
        .navbar ul .nav-item .nav-link {
          display: flex;
          justify-content: center; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .navbar ul .nav-item .nav-link {
          display: flex;
          justify-content: center; } }
    .navbar ul .nav-item .active {
      color: #EE603D !important; }
  @media (max-width: 767px) {
    .navbar #navbarTogglerDemo02 {
      margin: 0 -1rem;
      padding-top: 0.4rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .navbar #navbarTogglerDemo02 {
      margin: 0 -4rem;
      padding-top: 0.4rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .navbar .close img {
      width: 100%; } }
  .navbar .navbar-toggler > .close {
    display: inline; }
  .navbar .navbar-toggler.collapsed > .close,
  .navbar .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
    display: none; }
  .navbar .navbar-nav {
    flex-basis: 50%; }

.footer {
  background: #090909;
  color: white; }

.play_btn {
  max-width: 160px; }
  @media (max-width: 767px) {
    .play_btn {
      max-width: 135px; } }

.social_icons {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .social_icons {
      justify-content: space-evenly; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .social_icons {
      max-width: 60%;
      margin: 0 auto; } }
  @media (min-width: 769px) and (max-width: 1030px) {
    .social_icons {
      max-width: 100%; } }
  .social_icons img {
    max-width: 1.2rem; }

.copyright {
  font-size: 16px;
  font-weight: 400; }
  @media (max-width: 767px) {
    .copyright {
      font-size: 12px;
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .copyright {
      text-align: center; } }
  @media (min-width: 769px) and (max-width: 1030px) {
    .copyright {
      text-align: inherit; } }

@media (max-width: 767px) {
  .loop-logo {
    display: none; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .loop-logo {
    display: none; } }
@media (min-width: 769px) and (max-width: 1030px) {
  .loop-logo {
    display: block; } }

@media (min-width: 769px) and (max-width: 1030px) {
  .social_content {
    left: 3rem; } }

/* comman cta button */
.cta {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center !important;
  border-radius: 2em;
  padding: 0 10px;
  cursor: pointer;
  background: #EE603D;
  color: white;
  border: 1px solid #EE603D;
  font-size: 1.5rem;
  min-width: 18rem;
  max-width: 18rem;
  min-height: 3rem;
  height: 3rem;
  font-weight: 300; }
  .cta:hover {
    color: white; }
  .cta:focus {
    outline: none; }

/*code for google btn */
/* font for google play button */
@font-face {
  font-family: 'Lato';
  src: url("Lato-Black.ttf") format("ttf"), url("Lato-Bold.ttf") format("ttf"), url("Lato-BlackItalic.ttf") format("ttf"), url("Lato-BoldItalic.ttf") format("ttf"), url("Lato-Hairline.ttf") format("ttf"), url("Lato-HairlineItalic.ttf") format("ttf"), url("Lato-Italic.ttf") format("ttf"), url("Lato-Light.ttf") format("ttf"), url("Lato-LightItalic.ttf") format("ttf"), url("Lato-Regular.ttf") format("ttf");
  font-weight: "Lato-Regular"; }
.loop {
  font-family: 'Lato', sans-serif;
  display: block;
  position: relative;
  padding-bottom: 0 !important;
  /* our team code */
  /* end of our team code */
  /* svg for benefit section */
  /*ennd of svg code */
  /******* Partners ************/
  /************* Algorithm *******************/
  /**** modal for callBackModal ******/
  /********** modal for get-in-touch-modal ********************/
  /*********** modal for get-in-touch-modal ends **************/
  /************ css for navbar toggle ****************/
  /* Icon 1 */
  /* Icon 2 */
  /* Icon 3 */ }
  .loop p {
    letter-spacing: 0.8px; }
    @media (max-width: 767px) {
      .loop p {
        letter-spacing: normal; } }
  .loop .cta:hover {
    text-decoration: none; }
  .loop .banner {
    background-image: url("../../img/hero/image.png");
    background-size: cover;
    min-height: 42rem;
    max-height: 42rem;
    height: 42rem;
    position: relative; }
    @media (max-width: 767px) {
      .loop .banner {
        max-height: 67vh;
        min-height: 67vh;
        background-image: url("../../img/hero/banner_image.png"); } }
    @media only screen and (min-width: 450px) and (max-width: 760px) {
      .loop .banner {
        max-height: 105vh;
        min-height: 105vh;
        background-position: center; } }
    @media (min-width: 769px) and (max-width: 1030px) {
      .loop .banner .row {
        float: right; } }
    .loop .banner img {
      height: 50%;
      padding-left: 1rem; }
      @media (max-width: 767px) {
        .loop .banner img {
          width: 50%;
          height: 50%; } }
      @media only screen and (min-width: 450px) and (max-width: 760px) {
        .loop .banner img {
          width: 25%; } }
      @media (min-width: 769px) and (max-width: 1030px) {
        .loop .banner img {
          margin-left: -9rem; } }
    .loop .banner .title {
      color: white; }
      @media (max-width: 767px) {
        .loop .banner .title {
          display: none; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .banner .title {
          display: none; } }
      .loop .banner .title .banner_info {
        padding-left: 15rem; }
        @media (max-width: 767px) {
          .loop .banner .title .banner_info {
            padding-left: 0; } }
        .loop .banner .title .banner_info h2 {
          font-size: 50px;
          font-weight: bold; }
        .loop .banner .title .banner_info p {
          font-size: 28px;
          font-weight: 400; }
        .loop .banner .title .banner_info .cta {
          background: white;
          border: 1px solid white;
          color: #9B9B9B;
          font-size: 22px;
          min-width: 251px;
          max-width: 251px;
          min-height: 65px;
          max-height: 65px;
          height: 65px;
          justify-content: space-around;
          font-weight: 400;
          text-decoration: none; }
    @media (max-width: 767px) {
      .loop .banner .banner-mob-img {
        padding-top: 2rem;
        padding-right: 2rem;
        display: flex;
        justify-content: flex-end; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .loop .banner .banner-mob-img {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end; } }
  .loop .mob-banner-info {
    display: none; }
    @media (max-width: 767px) {
      .loop .mob-banner-info {
        display: block;
        padding: 2rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .loop .mob-banner-info {
        display: block;
        padding: 2rem; } }
    .loop .mob-banner-info .banner_info {
      text-align: center; }
      .loop .mob-banner-info .banner_info h2 {
        font-size: 24px; }
      .loop .mob-banner-info .banner_info p {
        font-size: 14px; }
    .loop .mob-banner-info .banner-info-btn {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .mob-banner-info .banner-info-btn {
          justify-content: space-evenly; } }
      @media only screen and (min-width: 320px) and (max-width: 360px) {
        .loop .mob-banner-info .banner-info-btn {
          justify-content: center;
          flex-wrap: wrap; } }
      .loop .mob-banner-info .banner-info-btn .cta {
        font-size: 14px;
        justify-content: space-between !important;
        min-width: 9.5rem;
        max-width: 9.5rem;
        min-height: 2.5rem;
        max-height: 2.5rem; }
        .loop .mob-banner-info .banner-info-btn .cta .video_mob {
          width: 23px; }
      .loop .mob-banner-info .banner-info-btn .google_banner_btn {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .loop .mob-banner-info .banner-info-btn .google_banner_btn .ben_button {
          min-height: 2.5rem;
          max-height: 2.5rem; }
          @media (min-width: 768px) and (max-width: 1024px) {
            .loop .mob-banner-info .banner-info-btn .google_banner_btn .ben_button {
              width: auto; } }
          @media only screen and (min-width: 320px) and (max-width: 360px) {
            .loop .mob-banner-info .banner-info-btn .google_banner_btn .ben_button {
              margin-top: 1rem; } }
  .loop .container-index {
    padding: 5rem 0;
    max-width: 80%;
    min-width: 80%;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .loop .container-index {
        min-width: 90%;
        max-width: 90%;
        padding: 3rem 0; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .loop .container-index {
        max-width: 90%;
        min-width: 90%; } }
    .loop .container-index .section_heading {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 2.5rem;
      padding-bottom: 2rem;
      font-weight: bold;
      color: #414143;
      letter-spacing: 1px; }
      @media (max-width: 767px) {
        .loop .container-index .section_heading {
          letter-spacing: 0;
          padding-bottom: 2rem;
          line-height: 2rem;
          font-size: 1.5rem;
          max-width: 85%;
          margin: 0 auto;
          text-align: center; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .container-index .section_heading {
          max-width: 85%;
          margin: 0 auto;
          text-align: center; } }
  .loop .container-fluid {
    max-width: 90%;
    margin: 0 auto; }
  .loop .benefit {
    background: #F7F7F7; }
  @media (max-width: 767px) {
    .loop .desk-benefit {
      display: none; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .loop .desk-benefit {
      display: none; } }
  .loop .harvest .container-index {
    max-width: 90%;
    min-width: 90%; }
    @media (max-width: 767px) {
      .loop .harvest .container-index {
        max-width: 80%;
        min-width: 80%; } }
  @media (max-width: 767px) {
    .loop .harvest .cards:first-child {
      margin-top: 0; } }
  @media (max-width: 767px) {
    .loop .harvest .cards:nth-last-child(1) {
      margin-bottom: 0; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .loop .harvest .cards:nth-last-child(1) {
      margin-bottom: 0; } }
  .loop .get_in_touch {
    background-image: url("../../img/getintouch/getintouch.png");
    background-size: cover;
    height: 18rem;
    position: relative; }
    @media (max-width: 767px) {
      .loop .get_in_touch {
        height: 12rem;
        background-position: 10%;
        background-repeat: no-repeat; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .loop .get_in_touch {
        height: 15rem; } }
    .loop .get_in_touch .container-fluid {
      max-width: 100%; }
    .loop .get_in_touch .cta {
      background: #EE603D;
      color: white;
      border: 1px solid #EE603D;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.625rem;
      font-weight: 400;
      min-width: 30%;
      max-width: 30%;
      min-height: 4rem;
      height: 4rem;
      letter-spacing: 1px; }
      @media only screen and (min-width: 320px) and (max-width: 359px) {
        .loop .get_in_touch .cta {
          min-width: 60% !important;
          max-width: 60% !important; } }
      @media only screen and (max-width: 450px) {
        .loop .get_in_touch .cta {
          min-width: 53%;
          max-width: 53%; } }
      @media (max-width: 767px) {
        .loop .get_in_touch .cta {
          min-height: 2.5rem;
          max-height: 2.5rem;
          font-size: 14px; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .get_in_touch .cta {
          min-height: 3.5rem;
          max-height: 3.5rem;
          min-width: 45%;
          max-width: 45%;
          font-size: 1.5rem; } }
  .loop .working {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    @media only screen and (max-width: 600px) {
      .loop .working {
        display: inline-block; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .loop .working {
        justify-content: initial; } }
    .loop .working .cards {
      display: flex;
      height: 300px;
      width: 420px;
      text-align: center;
      background: transparent;
      border-radius: 15px;
      transition: box-shadow 0.1s ease, background-color 0.1s ease-in, color 0.1s ease; }
      @media (max-width: 767px) {
        .loop .working .cards {
          background-color: white;
          box-shadow: 0 0 10px 15px rgba(239, 239, 239, 0.5);
          height: 9rem;
          width: 75%;
          margin: 1.2rem auto; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .working .cards {
          width: 45%;
          height: 250px;
          background-color: white;
          box-shadow: 0 0 10px 15px rgba(239, 239, 239, 0.5);
          margin-bottom: 2rem;
          margin-left: 1.5rem; } }
      .loop .working .cards:hover {
        background-color: white;
        box-shadow: 0 0 10px 15px rgba(239, 239, 239, 0.5); }
        .loop .working .cards:hover .step {
          color: #f2f2f2; }
      @media only screen and (min-width: 450px) and (max-width: 760px) {
        .loop .working .cards {
          height: 9.5rem;
          width: 56%; } }
      .loop .working .cards .step {
        color: white;
        position: relative;
        font-size: 305px;
        bottom: 5rem;
        z-index: 1;
        font-style: italic;
        font-weight: 700;
        padding-left: 1rem; }
        @media (max-width: 767px) {
          .loop .working .cards .step {
            font-size: 9rem;
            color: #f2f2f2;
            bottom: 2.7rem; } }
        @media only screen and (min-width: 450px) and (max-width: 760px) {
          .loop .working .cards .step {
            font-size: 164px; } }
        @media (min-width: 768px) and (max-width: 1024px) {
          .loop .working .cards .step {
            font-size: 275px;
            color: #f2f2f2;
            bottom: 5.5rem; } }
      .loop .working .cards h5 {
        color: #EE603D;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 1px; }
        @media (max-width: 767px) {
          .loop .working .cards h5 {
            font-size: 20px;
            margin-bottom: 0; } }
        @media (min-width: 768px) and (max-width: 1024px) {
          .loop .working .cards h5 {
            font-size: 24px; } }
      .loop .working .cards p {
        font-size: 24px;
        font-weight: 400;
        max-width: 98%;
        color: #414143;
        line-height: 32px; }
        @media (max-width: 767px) {
          .loop .working .cards p {
            max-width: 100%;
            font-size: 12px;
            line-height: inherit; } }
        @media (min-width: 768px) and (max-width: 1024px) {
          .loop .working .cards p {
            font-size: 18px; } }
      .loop .working .cards .card_info {
        padding: 1rem;
        z-index: 2;
        margin-left: -7.5rem;
        margin-top: 2rem; }
        @media (max-width: 767px) {
          .loop .working .cards .card_info {
            margin-top: 5px;
            margin-left: -4rem; } }
        @media (min-width: 768px) and (max-width: 1024px) {
          .loop .working .cards .card_info {
            margin-left: -3rem;
            margin-top: 1rem; } }
        .loop .working .cards .card_info img {
          padding-bottom: 1rem; }
          @media (max-width: 767px) {
            .loop .working .cards .card_info img {
              width: 20%;
              padding-bottom: 0; } }
          @media (min-width: 768px) and (max-width: 1024px) {
            .loop .working .cards .card_info img {
              width: 30%; } }
          @media (min-width: 769px) and (max-width: 1030px) {
            .loop .working .cards .card_info img {
              width: 22%; } }
  .loop .benefits_section img {
    margin-left: -2rem; }
  .loop .benefits_section .people_details {
    max-width: 90%;
    min-width: 90%; }
    .loop .benefits_section .people_details .sub_heading {
      padding-bottom: 0;
      justify-content: flex-start;
      color: #EE603D;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1px; }
    .loop .benefits_section .people_details p {
      font-size: 24px;
      font-weight: 400;
      line-height: 34px; }
    .loop .benefits_section .people_details .cta {
      background: #EE603D;
      color: white;
      border: 1px solid #EE603D;
      font-size: 1.25rem;
      min-width: 45%;
      max-width: 45%;
      min-height: 3rem;
      height: 3rem;
      font-weight: 400;
      letter-spacing: 1px; }
      .loop .benefits_section .people_details .cta:hover {
        text-decoration: none; }
  .loop .benefits_section .people_info_right {
    padding: 5.5rem 3rem; }
  .loop .benefits_section .people_info_left {
    padding: 6rem 0 6rem 11rem; }
    .loop .benefits_section .people_info_left .people_details {
      min-width: 90%;
      max-width: 90%; }
  .loop .benefits_section .ben_button {
    margin-left: 0;
    max-width: 175px;
    min-width: 175px; }
  .loop .team {
    /******** cards for mobile device *************/ }
    .loop .team .sub_heading {
      max-width: 80%;
      min-width: 80%;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      line-height: 32px; }
      @media (max-width: 767px) {
        .loop .team .sub_heading {
          max-width: 85%;
          min-width: 85%;
          margin: 0 auto;
          font-size: 14px; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .team .sub_heading {
          max-width: 100%; } }
    .loop .team .members {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-right: 5rem; }
      @media (max-width: 767px) {
        .loop .team .members {
          display: none; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .team .members {
          display: none; } }
      .loop .team .members .row {
        justify-content: space-between; }
        .loop .team .members .row .team_img {
          padding: 1rem;
          cursor: pointer;
          position: relative; }
          .loop .team .members .row .team_img::after {
            position: absolute;
            content: "";
            background-color: rgba(224, 152, 135, 0.39);
            z-index: 1;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            top: 12%;
            left: 13%; }
        .loop .team .members .row img {
          width: 100px;
          height: 100px;
          border-radius: 50%; }
      .loop .team .members .sec {
        margin-left: 3rem;
        margin-right: -3rem; }
    .loop .team .team-mob {
      width: 75%;
      margin: 0 auto;
      display: none; }
      @media (max-width: 767px) {
        .loop .team .team-mob {
          display: block; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .team .team-mob {
          display: block;
          width: 100%; } }
      .loop .team .team-mob .profile {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .loop .team .team-mob .profile .name {
          color: #EE603D;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0.6px;
          margin-bottom: 0; }
        .loop .team .team-mob .profile .mail {
          margin-left: 1.5rem; }
      .loop .team .team-mob .position {
        font-size: 16px;
        color: #EE603D; }
      .loop .team .team-mob .profile-logo {
        border-radius: 50%;
        max-width: 1.875rem;
        min-width: 1.875rem;
        width: 1.875rem;
        height: 1.875rem; }
      .loop .team .team-mob .card-img-top {
        height: 12rem;
        max-height: 12rem;
        min-height: 12rem;
        object-fit: cover; }
        @media (min-width: 769px) and (max-width: 1030px) {
          .loop .team .team-mob .card-img-top {
            height: 22rem;
            max-height: 22rem;
            min-height: 22rem; } }
      .loop .team .team-mob .content {
        font-size: 12px; }
      .loop .team .team-mob .education-logo {
        width: 24px; }
      .loop .team .team-mob .qualification-logo {
        width: 24px; }
  .loop .team .col-md-6 .team-mob {
    margin-bottom: 2rem; }
  .loop .team .col-md-6:last-child .team-mob {
    margin-bottom: 0; }
  .loop .bg-path {
    position: absolute;
    margin-left: -2rem;
    opacity: 1;
    z-index: -1; }
    @media (max-width: 767px) {
      .loop .bg-path {
        display: none; } }
  .loop #path-bg__base {
    fill: none;
    stroke: #949CA4;
    opacity: 1; }
  .loop #path-bg__progress {
    fill: none;
    stroke: #DD4747;
    stroke-dasharray: 3926.675;
    stroke-dashoffset: 3926.675; }
@-webkit-keyframes wander-path {
  0% {
    stroke-dashoffset: 3926.675; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes wander-path {
  0% {
    stroke-dashoffset: 3926.675; }
  100% {
    stroke-dashoffset: 0; } }
  .loop .img_blur {
    filter: blur(2px); }
  .loop .detail_img {
    z-index: 4;
    filter: blur(0) !important;
    position: relative;
    margin-top: -2px; }
  .loop .sub_heading {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    color: #414143; }
@-webkit-keyframes animateThis {
  0% {
    width: 200px;
    opacity: 0; }
  100% {
    width: 450px;
    opacity: 1; } }
  .loop .testimonials {
    background: #F7F7F7; }
    .loop .testimonials .container-index {
      padding: 0;
      max-width: 75%;
      min-width: 75%; }
      @media (max-width: 767px) {
        .loop .testimonials .container-index {
          min-width: 90%;
          max-width: 90%;
          padding: 4rem 0 2.2rem; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .testimonials .container-index {
          min-width: 90%;
          max-width: 90%;
          padding: 4rem 0 2.2rem; } }
    .loop .testimonials #bannercard {
      width: 100%; }
    @media (max-width: 767px) {
      .loop .testimonials .farmer-card {
        position: relative; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .loop .testimonials .farmer-card {
        position: relative; } }
    .loop .testimonials .card-border {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      height: 55%;
      width: 1rem;
      background: #EE603D;
      border-radius: 16px 14px 30px 20px; }
      @media (max-width: 767px) {
        .loop .testimonials .card-border {
          top: 50%;
          left: 10%;
          transform: translate(10%, -50%);
          height: 6rem; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .testimonials .card-border {
          top: 50%;
          left: 14.5%;
          transform: translate(14.5%, -50%);
          height: 6rem; } }
      @media (min-width: 769px) and (max-width: 1030px) {
        .loop .testimonials .card-border {
          left: 24.5%;
          transform: translate(24.5%, -50%); } }
    .loop .testimonials .owl-dots {
      right: inherit;
      left: 0.3rem;
      bottom: 6%;
      margin: 0;
      display: flex;
      position: absolute; }
      @media (max-width: 767px) {
        .loop .testimonials .owl-dots {
          position: relative;
          right: 0;
          left: 0;
          margin-bottom: 0;
          padding-top: 1.5rem;
          justify-content: center;
          align-items: center; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .testimonials .owl-dots {
          position: relative;
          right: 0;
          left: 0;
          margin-bottom: 0;
          justify-content: center;
          align-items: center;
          padding-top: 1.5rem; } }
      .loop .testimonials .owl-dots .active {
        background: #EE603D !important; }
      .loop .testimonials .owl-dots .owl-dot {
        height: 0.6rem;
        border-radius: 50%;
        width: 0.6rem;
        border: 1px solid #EE603D;
        background: transparent;
        margin-right: 7px; }
    .loop .testimonials .carousel-inner .card {
      max-width: 49%;
      position: absolute;
      top: 50%;
      left: 0.3rem;
      height: 70%;
      transform: translate(0, -50%);
      border: 1px solid #F3F3F3; }
      @media (max-width: 767px) {
        .loop .testimonials .carousel-inner .card {
          max-width: 80%;
          margin: 0 auto;
          position: relative;
          margin-top: -100px;
          transform: initial; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .testimonials .carousel-inner .card {
          max-width: 70%;
          margin: 0 auto;
          position: relative;
          margin-top: -100px;
          transform: initial; } }
      @media (min-width: 769px) and (max-width: 1030px) {
        .loop .testimonials .carousel-inner .card {
          max-width: 50%; } }
      .loop .testimonials .carousel-inner .card p {
        font-size: 24px;
        max-width: 70%;
        font-weight: 400;
        color: #414143;
        line-height: 32px; }
        @media (max-width: 767px) {
          .loop .testimonials .carousel-inner .card p {
            font-size: 14px;
            max-width: 100%;
            line-height: normal; } }
        @media (min-width: 768px) and (max-width: 1024px) {
          .loop .testimonials .carousel-inner .card p {
            font-size: 14px;
            max-width: 100%; } }
      .loop .testimonials .carousel-inner .card h5 {
        font-size: 30px;
        font-weight: bold;
        color: #414143; }
        @media (max-width: 767px) {
          .loop .testimonials .carousel-inner .card h5 {
            font-size: 16px;
            letter-spacing: 0.53px; } }
        @media (min-width: 768px) and (max-width: 1024px) {
          .loop .testimonials .carousel-inner .card h5 {
            font-size: 16px; } }
      .loop .testimonials .carousel-inner .card .card-body {
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media (max-width: 767px) {
          .loop .testimonials .carousel-inner .card .card-body {
            padding: 1.25rem; } }
        @media (min-width: 768px) and (max-width: 1024px) {
          .loop .testimonials .carousel-inner .card .card-body {
            padding: 1.25rem; } }
    .loop .testimonials .carousel-inner .carousel_item img {
      margin-left: auto;
      max-width: 55%;
      min-width: 55%; }
      @media (max-width: 767px) {
        .loop .testimonials .carousel-inner .carousel_item img {
          max-width: 90%;
          margin: 0 auto; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .loop .testimonials .carousel-inner .carousel_item img {
          max-width: 90%;
          margin: 0 auto; } }
  .loop .partners .container-index {
    max-width: 85%; }
    @media (max-width: 767px) {
      .loop .partners .container-index .partners-img {
        max-width: 95%;
        width: 95%; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .loop .partners .container-index .partners-img {
        max-width: 100%; } }
  .loop .algorithm figure {
    margin: 0; }
  .loop .algorithm figure span {
    color: #EE603D;
    font-weight: 500; }
  .loop .algorithm figcaption {
    font-size: 24px;
    max-width: 100%;
    font-weight: 400;
    color: #414143; }
    @media (max-width: 767px) {
      .loop .algorithm figcaption {
        font-size: 20px;
        max-width: 80%;
        margin: 0 auto;
        text-align: center; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .loop .algorithm figcaption {
        max-width: 80%;
        margin: 0 auto;
        text-align: center; } }
  .loop .algorithm .learning-algorithm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 767px) {
      .loop .algorithm .learning-algorithm figure img {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 15%;
        min-width: 15%; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .loop .algorithm .learning-algorithm figure img {
        margin: 0 auto;
        display: flex; } }
  .loop .algorithm .algorithm-map {
    max-width: 100%; }
    @media (max-width: 767px) {
      .loop .algorithm .algorithm-map {
        width: 100%; } }
  .loop .modal .modal-content {
    max-width: 25rem;
    margin: 0 auto; }
  .loop .modal .modal-header {
    border-bottom: none; }
  .loop .modal .close {
    z-index: 1;
    opacity: 1;
    min-height: 0.2rem;
    min-width: 0.2rem;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px; }
    .loop .modal .close:focus {
      outline: 0; }
  .loop .modal .close-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%; }
  .loop .modal .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 767px) {
      .loop .modal .modal-body {
        justify-content: space-evenly; } }
    .loop .modal .modal-body .title {
      display: none; }
      @media (max-width: 767px) {
        .loop .modal .modal-body .title {
          display: block;
          color: #434341;
          padding-bottom: 1.5rem; } }
    .loop .modal .modal-body .getcall {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .loop .modal .modal-footer {
    border-top: none;
    justify-content: center; }
  .loop .modal .contact_feilds {
    border-radius: 0;
    color: #414143;
    border: none;
    border-bottom: 1px solid #D8D8D8;
    outline: none;
    background: transparent; }
    .loop .modal .contact_feilds::placeholder {
      color: #CACACA;
      opacity: 1;
      font-size: 1rem; }
      @media (max-width: 767px) {
        .loop .modal .contact_feilds::placeholder {
          font-size: 0.875rem; } }
    .loop .modal .contact_feilds :-ms-input-placeholder {
      color: #CACACA;
      opacity: 1;
      font-size: 16px; }
    .loop .modal .contact_feilds ::-ms-input-placeholder {
      color: #CACACA;
      opacity: 1;
      font-size: 16px; }
  .loop .modal .cta {
    min-width: 10rem;
    margin-top: 2rem;
    border: 1px solid #EE603D;
    font-size: 1.25rem;
    min-height: 3rem;
    height: 3rem;
    font-weight: 700;
    letter-spacing: 1px; }
    @media (max-width: 767px) {
      .loop .modal .cta {
        min-width: 10rem;
        max-width: 10rem;
        margin: 0 auto;
        min-height: 2.5rem;
        font-size: 0.875rem;
        font-weight: 400; } }
  .loop #getTouchModal .modal-dialog {
    max-width: 700px; }
  .loop #getTouchModal .modal-content {
    max-width: inherit;
    padding: 0; }
  .loop #getTouchModal .contact_feilds {
    min-width: 90%; }
  .loop #getTouchModal .communication {
    font-size: 1rem;
    color: #414143; }
    @media (max-width: 767px) {
      .loop #getTouchModal .communication {
        font-size: 0.875rem; } }
  .loop #getTouchModal .cta {
    min-width: 10rem;
    margin: 0; }
    @media (max-width: 767px) {
      .loop #getTouchModal .cta {
        min-width: 10rem;
        font-size: 0.875rem;
        min-height: 2.5rem;
        margin: 0 auto;
        font-weight: 300; } }
  .loop #getTouchModal #submit input[type='radio'] {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 2px #EE603D; }
  .loop #getTouchModal #submit input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%; }
  .loop #getTouchModal #submit input[type='radio']:checked:before {
    background: #EE603D; }
  .loop #getTouchModal #submit .contact {
    font-size: 1rem;
    color: #414143;
    margin-left: 0.5rem; }
    @media (max-width: 767px) {
      .loop #getTouchModal #submit .contact {
        font-size: 0.875rem; } }
  .loop #getTouchModal .title {
    display: none;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .loop #getTouchModal .title {
        display: block; } }
    .loop #getTouchModal .title .col-md {
      text-align: center; }
  @media (max-width: 767px) {
    .loop #getTouchModal .col-md {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 1.5rem; } }
  .loop #getTouchModal .btn_sub {
    padding-top: 2rem; }
    @media (max-width: 767px) {
      .loop #getTouchModal .btn_sub {
        padding-top: 1.5rem; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .loop .main {
    border: 3px solid #EE603D; }
  .loop .main_team::after {
    background-color: rgba(224, 152, 135, 0) !important; }
  .loop .mob-benefit {
    display: none; }
    @media (max-width: 767px) {
      .loop .mob-benefit {
        display: block; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .loop .mob-benefit {
        display: block; } }
  @media (min-width: 768px) and (max-width: 1024px) and (min-width: 769px) and (max-width: 1030px) {
    .loop .mob-benefit {
      display: block; } }

    .loop .mob-benefit #carouselExampleIndicators_mob .card {
      border: none;
      margin: 1rem auto; }
      .loop .mob-benefit #carouselExampleIndicators_mob .card .card-body {
        padding-left: 0;
        padding-right: 0;
        padding-top: 3rem; }
      .loop .mob-benefit #carouselExampleIndicators_mob .card .benefits-card {
        text-align: center;
        padding: 0 2rem; }
        .loop .mob-benefit #carouselExampleIndicators_mob .card .benefits-card h5 {
          color: #EE603D;
          font-size: 20px; }
          @media (min-width: 768px) and (max-width: 1024px) {
            .loop .mob-benefit #carouselExampleIndicators_mob .card .benefits-card h5 {
              font-size: 30px; } }
        .loop .mob-benefit #carouselExampleIndicators_mob .card .benefits-card img {
          width: 60%;
          padding-bottom: 2rem;
          margin-right: 1rem; }
        .loop .mob-benefit #carouselExampleIndicators_mob .card .benefits-card p {
          font-size: 14px;
          padding-bottom: 1rem; }
          @media (min-width: 768px) and (max-width: 1024px) {
            .loop .mob-benefit #carouselExampleIndicators_mob .card .benefits-card p {
              font-size: 24px;
              min-height: 7rem; } }
        .loop .mob-benefit #carouselExampleIndicators_mob .card .benefits-card .cta {
          font-size: 0.875rem;
          min-width: 10rem;
          max-width: 10rem;
          margin: 0 auto;
          min-height: 2.5rem;
          height: 2.5rem; }
          @media (min-width: 768px) and (max-width: 1024px) {
            .loop .mob-benefit #carouselExampleIndicators_mob .card .benefits-card .cta {
              font-size: 1rem; } }
        .loop .mob-benefit #carouselExampleIndicators_mob .card .benefits-card .ben_button {
          width: 45%;
          margin-left: 0.5rem;
          padding-bottom: 0;
          min-height: 2.5rem; }
          @media (min-width: 768px) and (max-width: 1024px) {
            .loop .mob-benefit #carouselExampleIndicators_mob .card .benefits-card .ben_button {
              width: 20%; } }
          @media only screen and (min-width: 450px) and (max-width: 760px) {
            .loop .mob-benefit #carouselExampleIndicators_mob .card .benefits-card .ben_button {
              width: 30%; } }
    .loop .mob-benefit #carouselExampleIndicators_mob .carousel-control-next {
      opacity: 1;
      padding-top: 4rem;
      padding-right: 2rem; }
    .loop .mob-benefit #carouselExampleIndicators_mob .carousel-control-prev {
      opacity: 1;
      padding-top: 4rem;
      padding-left: 2rem; }
    .loop .mob-benefit #carouselExampleIndicators_mob .fa {
      color: #EE603D;
      font-size: 30px; }
    .loop .mob-benefit #carouselExampleIndicators_mob .carousel-indicators {
      bottom: auto;
      display: flex;
      justify-content: space-around;
      background-image: url("../../img/benefits/line.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 1;
      margin-right: 0;
      margin-left: 0; }
      .loop .mob-benefit #carouselExampleIndicators_mob .carousel-indicators li {
        width: 150px;
        height: auto;
        max-height: 102px;
        background-color: transparent;
        text-indent: 0; }
        .loop .mob-benefit #carouselExampleIndicators_mob .carousel-indicators li .thumbnail {
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 1;
          transition: all 550ms ease-out; }
          .loop .mob-benefit #carouselExampleIndicators_mob .carousel-indicators li .thumbnail img {
            width: 50px;
            height: 50px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            margin-left: 2px; }
        .loop .mob-benefit #carouselExampleIndicators_mob .carousel-indicators li.active .thumbnail img {
          filter: grayscale(0);
          transform: scale(1.8); }
    .loop .mob-benefit #carouselExampleIndicators_mob .mob_img {
      height: 19rem;
      object-fit: contain; }
    .loop .mob-benefit .container-index {
      padding-bottom: 0; }
  .loop #nav-icon1,
  .loop #nav-icon2,
  .loop #nav-icon3,
  .loop #nav-icon4 {
    width: 1rem;
    height: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer; }
  .loop #nav-icon1 span,
  .loop #nav-icon3 span,
  .loop #nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #EE603D;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  .loop #nav-icon3 span:nth-child(1) {
    top: 0; }
  .loop #nav-icon3 span:nth-child(2),
  .loop #nav-icon3 span:nth-child(3) {
    top: 5px; }
  .loop #nav-icon3 span:nth-child(4) {
    top: 10px; }
  .loop #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%; }
  .loop #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .loop #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .loop #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%; }
  .loop .overlay {
    color: rgba(224, 152, 135, 0.39); }
  @media (max-width: 767px) {
    .loop .number {
      margin-top: -5rem !important; } }
  .loop .gifplay {
    width: 90%; }

.aa {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield; }

.numaric_val {
  color: #ff8080;
  visibility: hidden;
  font-size: 12px;
  margin-top: 2px; }

.email_val {
  position: absolute;
  color: #ff8080;
  visibility: hidden;
  font-size: 12px;
  margin-top: 2px;
  bottom: -1.2rem; }

#youtube_video .modal-dialog {
  max-width: 1200px; }
#youtube_video .modal-content {
  background: black;
  max-width: 70rem; }
#youtube_video .modal-header {
  padding: 0; }
#youtube_video .modal-body {
  padding: 0; }
#youtube_video .close {
  top: -22px;
  right: 14px; }
#youtube_video .yt_video {
  width: 100%;
  height: 630px; }
  @media (max-width: 767px) {
    #youtube_video .yt_video {
      height: 315px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    #youtube_video .yt_video {
      height: 415px; } }

.show_tooltip1 {
  position: absolute;
  display: none;
  font-size: 12px;
  padding: 8px;
  border-radius: 6px;
  color: white;
  background: #EE603D;
  top: -2.5rem;
  left: -2rem;
  letter-spacing: 0.8px; }
  .show_tooltip1 .arrow-down {
    position: absolute;
    font-size: 20px;
    color: #EE603D;
    top: 1.55rem;
    left: 4.15rem; }

#hoveron {
  position: relative; }
  #hoveron:hover .show_tooltip1 {
    display: block; }

/*# sourceMappingURL=main.css.map */
