@font-face {
  font-family: 'Lato';
  src: url("Lato-Black.ttf") format('ttf'), url("Lato-Bold.ttf") format('ttf'), url("Lato-BlackItalic.ttf") format('ttf'), url("Lato-BoldItalic.ttf") format('ttf'),url("Lato-Hairline.ttf") format('ttf'), url("Lato-HairlineItalic.ttf") format('ttf'), url("Lato-Italic.ttf") format('ttf'), url("Lato-Light.ttf") format('ttf'), url("Lato-LightItalic.ttf") format('ttf'), url("Lato-Regular.ttf") format('ttf');
  font-weight: "Lato-Regular";
}

.loop {
  font-family: 'Lato', sans-serif;
  display: block;
  position: relative;
  padding-bottom: 0 !important;

  p {
    letter-spacing: 0.8px;
    @include mobile {
      letter-spacing: normal;
    }
  }

  .cta:hover {
    text-decoration: none;
  }

  .banner {
    background-image: url("../../img/hero/image.png");
    background-size: cover;
    min-height: 42rem;
    max-height: 42rem;
    height: 42rem;
    position: relative;
    @include mobile {
      max-height: 67vh;
      min-height: 67vh;
      background-image: url("../../img/hero/banner_image.png");
    }
    @media only screen and (min-width: 450px) and (max-width: 760px) {
      max-height: 105vh;
      min-height: 105vh;
      background-position: center;
    }

    .row {
      @include tablet-landscape {
        float: right;
      }
    }

    img {
      height: 50%;
      padding-left: 1rem;
      @include mobile {
        width: 50%;
        height: 50%;
      }
      @media only screen and (min-width: 450px) and (max-width: 760px) {
        width: 25%;
      }
      @include tablet-landscape {
        margin-left: -9rem;
      }
    }

    .title {
      color: white;
      @include mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }

      .banner_info {
        padding-left: 15rem;
        @include mobile {
          padding-left: 0;
        }

        h2 {
          font-size: 50px;
          font-weight: bold;
        }

        p {
          font-size: 28px;
          font-weight: 400;
          // letter-spacing: 1px;
        }

        .cta {
          background: white;
          border: 1px solid white;
          color: #9B9B9B;
          font-size: 22px;
          min-width: 251px;
          max-width: 251px;
          min-height: 65px;
          max-height: 65px;
          height: 65px;
          justify-content: space-around;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }

    .banner-mob-img {
      @include mobile {
        padding-top: 2rem;
        padding-right: 2rem;
        display: flex;
        justify-content: flex-end;
      }
      @include tablet {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
  }

  .mob-banner-info {
    display: none;
    @include mobile {
      display: block;
      padding: 2rem;
    }
    @include tablet {
      display: block;
      padding: 2rem;
    }

    .banner_info {
      text-align: center;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }
    }

    .banner-info-btn {
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include tablet {
        justify-content: space-evenly;
      }
      @media only screen and (min-width: 320px) and (max-width: 360px) {
        justify-content: center;
        flex-wrap: wrap;
      }

      .cta {
        font-size: 14px;
        justify-content: space-between !important;
        min-width: 9.5rem;
        max-width: 9.5rem;
        min-height: 2.5rem;
        max-height: 2.5rem;

        .video_mob {
          width: 23px;
        }
      }

      .google_banner_btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .ben_button {
          // width: 90%;
          min-height: 2.5rem;
          max-height: 2.5rem;
          @include tablet {
            width: auto;
          }
          @media only screen and (min-width: 320px) and (max-width: 360px) {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  .container-index {
    padding: 5rem 0;
    max-width: 80%;
    min-width: 80%;
    margin: 0 auto;
    @include mobile {
      min-width: 90%;
      max-width: 90%;
      padding: 3rem 0;
    }
    @include tablet {
      max-width: 90%;
      min-width: 90%;
    }

    .section_heading {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 2.5rem;
      padding-bottom: 2rem;
      font-weight: bold;
      color: #414143;
      letter-spacing: 1px;
      @include mobile {
        letter-spacing: 0;
        padding-bottom: 2rem;
        line-height: 2rem;
        font-size: 1.5rem;
        max-width: 85%;
        margin: 0 auto;
        text-align: center;
      }
      @include tablet {
        max-width: 85%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .container-fluid {
    max-width: 90%;
    margin: 0 auto;
  }

  .benefit {
    background: $gray;
  }

  .desk-benefit {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }

  .harvest {
    .container-index {
      max-width: 90%;
      min-width: 90%;
      @include mobile {
        max-width: 80%;
        min-width: 80%;
      }
    }

    .section_heading {
      // padding-bottom: 0;
    }

    .cards:first-child {
      @include mobile {
        margin-top: 0;
      }
    }

    .cards:nth-last-child(1) {
      @include mobile {
        margin-bottom: 0;
      }
      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  .get_in_touch {
    background-image: url("../../img/getintouch/getintouch.png");
    background-size: cover;
    height: 18rem;
    position: relative;
    @include mobile {
      height: 12rem;
      background-position: 10%;
      background-repeat: no-repeat;
    }
    @include tablet {
      height: 15rem;
    }

    .container-fluid {
      max-width: 100%;
    }

    .cta {
      background: #EE603D;
      color: white;
      border: 1px solid #EE603D;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.625rem; //26px
      font-weight: 400;
      min-width: 30%;
      max-width: 30%;
      min-height: 4rem;
      height: 4rem;
      letter-spacing: 1px;
      @media only screen and (min-width: 320px) and (max-width: 359px) {
        min-width: 60% !important;
        max-width: 60% !important;
      }
      @media only screen and (max-width: 450px) {
        min-width: 53%;
        max-width: 53%;
      }
      @include mobile {
        min-height: 2.5rem;
        max-height: 2.5rem;
        font-size: 14px;
      }
      @include tablet {
        min-height: 3.5rem;
        max-height: 3.5rem;
        min-width: 45%;
        max-width: 45%;
        font-size: 1.5rem;
      }
    }
  }

  .working {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @media only screen and (max-width: 600px) {
      display: inline-block;
    }
    @include tablet {
      justify-content: initial;
    }

    .cards {
      display: flex;
      height: 300px;
      width: 420px;
      text-align: center;
      background: transparent;
      border-radius: 15px;
      transition: box-shadow 0.1s ease, background-color 0.1s ease-in, color 0.1s ease;
      @include mobile {
        background-color: white;
        box-shadow: 0 0 10px 15px rgba(239,239,239,0.50);
        height: 9rem;
        width: 75%;
        margin: 1.2rem auto;
      }
      @include tablet {
        width: 45%;
        height: 250px;
        background-color: white;
        box-shadow: 0 0 10px 15px rgba(239,239,239,0.50);
        margin-bottom: 2rem;
        margin-left: 1.5rem;
      }
      // @media only screen and (min-width: 760px) & (max-width: 1400px) {
      //   margin-top: 2rem;
      // }
      &:hover {
        background-color: white;
        box-shadow: 0 0 10px 15px rgba(239,239,239,0.50);

        .step {
          color: #f2f2f2;
        }
      }
      @media only screen and (min-width: 450px) and (max-width: 760px) {
        height: 9.5rem;
        width: 56%;
      }

      .step {
        color: white;
        position: relative;
        font-size: 305px;
        bottom: 5rem;
        // left: 3rem;
        z-index: 1;
        font-style: italic;
        font-weight: 700;
        padding-left: 1rem;
        @include mobile {
          font-size: 9rem;
          color: #f2f2f2;
          bottom: 2.7rem;
        }
        @media only screen and (min-width: 450px) and (max-width: 760px) {
          font-size: 164px;
        }
        @include tablet {
          font-size: 275px;
          color: #f2f2f2;
          bottom: 5.5rem;
        }
      }

      h5 {
        color: $orange;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 1px;
        @include mobile {
          font-size: 20px;
          margin-bottom: 0;
        }
        @include tablet {
          font-size: 24px;
        }
      }

      p {
        font-size: 24px;
        font-weight: 400;
        max-width: 98%;
        color: #414143;
        line-height: 32px;
        @include mobile {
          max-width: 100%;
          font-size: 12px;
          line-height: inherit;
        }
        @include tablet {
          font-size: 18px;
        }
      }

      .card_info {
        padding: 1rem;
        z-index: 2;
        margin-left: -7.5rem;
        margin-top: 2rem;
        @include mobile {
          margin-top: 5px;
          margin-left: -4rem;
        }
        @include tablet {
          margin-left: -3rem;
          margin-top: 1rem;
        }

        img {
          padding-bottom: 1rem;
          @include mobile {
            width: 20%;
            padding-bottom: 0;
          }
          @include tablet {
            width: 30%;
          }
          @include tablet-landscape {
            width: 22%;
          }
        }
      }
    }
  }

  .benefits_section {
    img {
      margin-left: -2rem;
    }

    .people_details {
      max-width: 90%;
      min-width: 90%;

      .sub_heading {
        padding-bottom: 0;
        justify-content: flex-start;
        color: $orange;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
      }

      p {
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
      }

      .cta {
        background: #EE603D;
        color: white;
        border: 1px solid #EE603D;
        font-size: 1.25rem;
        min-width: 45%;
        max-width: 45%;
        min-height: 3rem;
        height: 3rem;
        font-weight: 400;
        letter-spacing: 1px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .people_info_right {
      padding: 5.5rem 3rem;
    }

    .people_info_left {
      padding: 6rem 0 6rem 11rem;

      .people_details {
        min-width: 90%;
        max-width: 90%;
      }
    }

    .ben_button {
      margin-left: 0;
      max-width: 175px;
      min-width: 175px;
    }
  }
  /* our team code */
  .team {
    // .card:last-child {
    //   margin-bottom: 0;
    // }
    .sub_heading {
      max-width: 80%;
      min-width: 80%;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      line-height: 32px;
      @include mobile {
        max-width: 85%;
        min-width: 85%;
        margin: 0 auto;
        font-size: 14px;
      }
      @include tablet {
        max-width: 100%;
      }
    }

    .members {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-right: 5rem;
      @include mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }

      .row {
        justify-content: space-between;

        .team_img {
          padding: 1rem;
          cursor: pointer;
          position: relative;

          &::after {
            position: absolute;
            content: "";
            background-color: rgba(224,152,135,0.39);
            z-index: 1;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            top: 12%;
            left: 13%;
          }
        }

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }

      .sec {
        margin-left: 3rem;
        margin-right: -3rem;
      }
    }
    /******** cards for mobile device *************/
    // .col-md-4 > .card:last-of-type {
    //   background: pink;
    //   // &:last-child {
    //   //   background: red;
    //   // }
    // }
    .team-mob {
      width: 75%;
      margin: 0 auto;
      display: none;
      @include mobile {
        display: block;
      }
      @include tablet {
        display: block;
        width: 100%;
      }

      .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
          color: $orange;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0.6px;
          margin-bottom: 0;
        }

        .mail {
          margin-left: 1.5rem;
        }
      }

      .position {
        font-size: 16px;
        color: $orange;
      }

      .profile-logo {
        border-radius: 50%;
        max-width: 1.875rem;
        min-width: 1.875rem;
        width: 1.875rem;
        height: 1.875rem;
      }

      .card-img-top {
        height: 12rem;
        max-height: 12rem;
        min-height: 12rem;
        object-fit: cover;
        @include tablet-landscape {
          height: 22rem;
          max-height: 22rem;
          min-height: 22rem;
        }
      }

      .content {
        font-size: 12px;
      }

      .education-logo {
        width: 24px;
      }

      .qualification-logo {
        width: 24px;
      }
    }


    // #founder1_hover{
    //   display: none;
    // }
    // #founder2_hover{
    //   display: none;
    //
    // }
    // #founder3_hover{
    //   display: none;
    //
    // }
    // .team_members {
    //   margin-left: -1rem;
    //   margin-top: -1.5rem;
    //   animation: fadein 2s;
    //   width: 500px;
    //   height: 150px;
    //   position: absolute;
    //   background: white;
    //   z-index: 2;
    //   border: 2px solid #EE603D;
    //   border-radius: 80px;
    //   -webkit-animation: animateThis 0.2s ease-in;
    //   -webkit-animation-fill-mode: forwards;
    //   color: #EE603D;
    //
    //   .detail_img {
    //     width: 148px !important;
    //     height: 148px !important;
    //     margin-top: -1px;
    //     border: 2px solid #EE603D;
    //     margin-left: -2px;
    //   }
    //
    //   .founder_detail {
    //     display: flex;
    //     justify-content: space-between;
    //     animation: fadein 1s;
    //     margin-top: -137px;
    //     font-size: 18px;
    //     width: 25rem;
    //     font-weight: 700;
    //
    //     p {
    //       margin-top: -3px;
    //     }
    //
    //     .mail_icon {
    //       width: 34px;
    //       height: 34px;
    //       margin-left: 1.5rem;
    //     }
    //
    //     .linkedin_icon {
    //       width: 34px;
    //       height: 34px;
    //     }
    //   }
    //
    //   p {
    //     font-size: 16px;
    //     margin-top: -22px;
    //     margin-left: 162px;
    //     animation: fadein 1s;
    //   }
    //
    //   .sub_detail {
    //     display: flex;
    //     animation: fadein 0.8s;
    //
    //     img {
    //       width: 20px;
    //       height: 20px;
    //       margin-left: 160px;
    //       margin-top: -10px;
    //     }
    //
    //     p {
    //       font-size: 14px;
    //       margin-top: -12px;
    //       color: #454545;
    //       margin-left: 12px;
    //     }
    //   }
    // }

  }

  .team {
    .col-md-6 {
      .team-mob {
        margin-bottom: 2rem;
      }

      &:last-child .team-mob {
        margin-bottom: 0;
      }
    }
  }
  /* end of our team code */
  /* svg for benefit section */
  .bg-path {
    position: absolute;
    // right: 0;
    // height: 100%;
    margin-left: -2rem;
    opacity: 1;
    z-index: -1;
    @include mobile {
      display: none;
    }
  }

  #path-bg__base {
    fill: none;
    stroke: #949CA4;
    opacity: 1;
  }

  #path-bg__progress {
    fill: none;
    stroke: #DD4747;
    stroke-dasharray: 3926.675;
    stroke-dashoffset: 3926.675;
  }
  @-webkit-keyframes wander-path {
    0% {
      stroke-dashoffset: 3926.675;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes wander-path {
    0% {
      stroke-dashoffset: 3926.675;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }
  /*ennd of svg code */
  .img_blur {
    filter: blur(2px);
  }

  .detail_img {
    z-index: 4;
    filter: blur(0) !important;
    position: relative;
    margin-top: -2px;
  }

  .sub_heading {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    color: #414143;
  }
  @-webkit-keyframes animateThis {
    0% {
      width: 200px;
      opacity: 0;
    }

    100% {
      width: 450px;
      opacity: 1;
    }
  }

  .testimonials {
    background: $gray;

    .container-index {
      padding: 0;
      max-width: 75%;
      min-width: 75%;
      @include mobile {
        min-width: 90%;
        max-width: 90%;
        padding: 4rem 0 2.2rem;
      }
      @include tablet {
        min-width: 90%;
        max-width: 90%;
        padding: 4rem 0 2.2rem;
      }
    }
    // .testimonial-card{
    //   position: absolute;
    //   top: 50%;
    //   left: 0;
    //   transform: translate(0, -50%);
    // }
    // #carouselExampleIndicators {
    #bannercard {
      width: 100%;
    }

    .farmer-card {
      @include mobile {
        position: relative;
      }
      @include tablet {
        position: relative;
      }
    }

    .card-border {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      height: 55%;
      width: 1rem;
      background: #EE603D;
      border-radius: 16px 14px 30px 20px;
      @include mobile {
        top: 50%;
        left: 10%;
        transform: translate(10%, -50%);
        height: 6rem;
      }
      @include tablet {
        top: 50%;
        left: 14.5%;
        transform: translate(14.5%, -50%);
        height: 6rem;
      }
      @include tablet-landscape {
        left: 24.5%;
        transform: translate(24.5%, -50%);
      }
    }
    // .carousel-indicators {
    .owl-dots {
      right: inherit;
      left: 0.3rem;
      bottom: 6%;
      margin: 0;
      display: flex;
      position: absolute;
      @include mobile {
        position: relative;
        right: 0;
        left: 0;
        margin-bottom: 0;
        // bottom: -12%;
        padding-top: 1.5rem;
        justify-content: center;
        align-items: center;
      }
      @include tablet {
        position: relative;
        right: 0;
        left: 0;
        margin-bottom: 0;
        // bottom: -9%;
        justify-content: center;
        align-items: center;
        padding-top: 1.5rem;
      }

      .active {
        background: #EE603D !important;
      }

      .owl-dot {
        height: 0.6rem;
        border-radius: 50%;
        width: 0.6rem;
        border: 1px solid #EE603D;
        background: transparent;
        margin-right: 7px;
      }
    }

    .carousel-inner {
      .card {
        max-width: 49%;
        position: absolute;
        top: 50%;
        left: 0.3rem;
        height: 70%;
        transform: translate(0, -50%);
        border: 1px solid #F3F3F3;
        //  box-shadow: 1px 8px 56px 0 rgba(0,0,0,0.50);
        @include mobile {
          max-width: 80%;
          margin: 0 auto;
          position: relative;
          margin-top: -100px;
          transform: initial;
        }
        @include tablet {
          max-width: 70%;
          margin: 0 auto;
          position: relative;
          margin-top: -100px;
          transform: initial;
        }
        @include tablet-landscape {
          max-width: 50%;
        }

        p {
          font-size: 24px;
          max-width: 70%;
          font-weight: 400;
          color: $light-gray;
          line-height: 32px;
          @include mobile {
            font-size: 14px;
            max-width: 100%;
            line-height: normal;
          }
          @include tablet {
            font-size: 14px;
            max-width: 100%;
          }
        }

        h5 {
          font-size: 30px;
          font-weight: bold;
          color: $light-gray;
          @include mobile {
            font-size: 16px;
            letter-spacing: 0.53px;
          }
          @include tablet {
            font-size: 16px;
          }
        }

        .card-body {
          padding: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          @include mobile {
            padding: 1.25rem;
          }
          @include tablet {
            padding: 1.25rem;
          }
        }
      }

      .carousel_item img {
        margin-left: auto;
        max-width: 55%;
        min-width: 55%;
        @include mobile {
          max-width: 90%;
          margin: 0 auto;
        }
        @include tablet {
          max-width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
  /******* Partners ************/
  .partners {
    .container-index {
      max-width: 85%;

      .partners-img {
        @include mobile {
          max-width: 95%;
          width: 95%;
        }
        @include tablet {
          max-width: 100%;
        }
      }
    }
  }
  /************* Algorithm *******************/
  .algorithm {
    figure {
      margin: 0;
    }

    figure span {
      color: #EE603D;
      font-weight: 500;
    }

    figcaption {
      font-size: 24px;
      max-width: 100%;
      font-weight: 400;
      color: $light-gray;
      @include mobile {
        font-size: 20px;
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
      }
      @include tablet {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
      }
    }

    .learning-algorithm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      figure img {
        @include mobile {
          display: flex;
          justify-content: center;
          margin: 0 auto;
          max-width: 15%;
          min-width: 15%;
        }
        @include tablet {
          margin: 0 auto;
          display: flex;
        }
      }
    }

    .algorithm-map {
      max-width: 100%;
      @include mobile {
        width: 100%;
      }
    }
  }
  /**** modal for callBackModal ******/
  .modal {
    .modal-dialog {
      @include mobile {}
    }

    .modal-content {
      max-width: 25rem;
      margin: 0 auto;
      @include mobile {
        // max-height: 100% !important;
        // min-height: 100% !important;
        // height: 100% !important;
      }
    }

    .modal-header {
      border-bottom: none;
    }

    .close {
      z-index: 1;
      opacity: 1;
      min-height: 0.2rem;
      min-width: 0.2rem;
      border-radius: 50%;
      position: absolute;
      top: 30px;
      right: 30px;

      &:focus {
        outline: 0;
      }
    }

    .close-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include mobile {
        justify-content: space-evenly;
      }

      .title {
        display: none;
        @include mobile {
          display: block;
          color: #434341;
          padding-bottom: 1.5rem;
        }
      }

      .getcall {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contact_feilds {
          //           @include mobile{
          //             min-width: 90%;
          // max-width: 90%;
          // margin: 0 auto 7rem;
          //           }
        }
      }
    }

    .modal-footer {
      border-top: none;
      justify-content: center;
    }

    .contact_feilds {
      border-radius: 0;
      color: #414143;
      border: none;
      border-bottom: 1px solid #D8D8D8;
      outline: none;
      background: transparent;
      // min-width: 70%;
      // max-width: 70%;
      // margin: 0 auto 2rem;
      &::placeholder {
        color: #CACACA;
        opacity: 1;
        font-size: 1rem;
        @include mobile {
          font-size: 0.875rem;
        }
      }

      :-ms-input-placeholder {
        color: #CACACA;
        opacity: 1;
        font-size: 16px;
      }

      ::-ms-input-placeholder {
        color: #CACACA;
        opacity: 1;
        font-size: 16px;
      }
    }

    .cta {
      min-width: 10rem;
      margin-top: 2rem;
      border: 1px solid #EE603D;
      font-size: 1.25rem;
      min-height: 3rem;
      height: 3rem;
      font-weight: 700;
      letter-spacing: 1px;
      // margin: 0 auto;
      @include mobile {
        min-width: 10rem;
        max-width: 10rem;
        margin: 0 auto;
        min-height: 2.5rem;
        font-size: 0.875rem;
        font-weight: 400;
        // margin-top: 1.5rem;
      }
    }
  }
  /********** modal for get-in-touch-modal ********************/
  #getTouchModal {
    .modal-dialog {
      max-width: 700px;
    }

    .modal-content {
      max-width: inherit;
      // padding: 0 3rem;
      padding: 0;
    }

    .contact_feilds {
      min-width: 90%;
    }

    .communication {
      font-size: 1rem;
      color: #414143;
      @include mobile {
        font-size: 0.875rem;
      }
    }

    .cta {
      min-width: 10rem;
      margin: 0;
      @include mobile {
        min-width: 10rem;
        font-size: 0.875rem;
        min-height: 2.5rem;
        margin: 0 auto;
        font-weight: 300;
      }
    }

    #submit {
      input[type='radio'] {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        outline: none;
        box-shadow: 0 0 0 2px $orange;
      }

      input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
      }

      input[type='radio']:checked:before {
        background: $orange;
      }

      .contact {
        font-size: 1rem;
        color: #414143;
        margin-left: 0.5rem;
        @include mobile {
          font-size: 0.875rem;
        }
      }
    }

    .title {
      display: none;
      margin: 0 auto;
      @include mobile {
        display: block;
      }

      .col-md {
        text-align: center;
      }
    }

    .col-md {
      @include mobile {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
      }
    }

    .btn_sub {
      padding-top: 2rem;
      @include mobile {
        padding-top: 1.5rem;
      }
    }

    .row {
      @include mobile {
        // margin-top: 5rem;
      }
    }
  }
  /*********** modal for get-in-touch-modal ends **************/
  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .main {
    border: 3px solid $orange;
  }

  .main_team {
    &::after {
      background-color: rgba(224,152,135,0) !important;
    }
  }
  // .overlay_team {
  //   &::after {
  //     background-color: rgba(224,152,135,0) !important;
  //   }
  // }
  .mob-benefit {
    display: none;
    @include mobile {
      display: block;
    }
    @include tablet {
      display: block;
      @include tablet-landscape {
        display: block;
      }
    }

    #carouselExampleIndicators_mob {
      .card {
        border: none;
        margin: 1rem auto;

        .card-body {
          padding-left: 0;
          padding-right: 0;
          padding-top: 3rem;
        }

        .benefits-card {
          text-align: center;
          padding: 0 2rem;

          h5 {
            color: $orange;
            font-size: 20px;
            @include tablet {
              font-size: 30px;
            }
          }

          img {
            width: 60%;
            padding-bottom: 2rem;
            margin-right: 1rem;
            @include tablet {
              // width: 35%;
            }
          }

          p {
            font-size: 14px;
            padding-bottom: 1rem;
            // min-height: 5rem;
            @include tablet {
              font-size: 24px;
              min-height: 7rem;
            }
          }

          .cta {
            font-size: 0.875rem;
            min-width: 10rem;
            max-width: 10rem;
            margin: 0 auto;
            min-height: 2.5rem;
            height: 2.5rem;
            @include tablet {
              font-size: 1rem;
            }
          }

          .ben_button {
            width: 45%;
            margin-left: 0.5rem;
            padding-bottom: 0;
            min-height: 2.5rem;
            @include tablet {
              width: 20%;
            }
            @media only screen and (min-width: 450px) and (max-width: 760px) {
              width: 30%;
            }
          }
        }
      }

      .carousel-control-next {
        opacity: 1;
        padding-top: 4rem;
        padding-right: 2rem;
      }

      .carousel-control-prev {
        opacity: 1;
        padding-top: 4rem;
        padding-left: 2rem;
      }

      .fa {
        color: $orange;
        font-size: 30px;
      }
      ////// code for indicator /////
      .carousel-indicators {
        bottom: auto;
        display: flex;
        justify-content: space-around;
        background-image: url("../../img/benefits/line.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 1;
        margin-right: 0;
        margin-left: 0;

        li {
          width: 150px;
          height: auto;
          max-height: 102px;
          background-color: transparent;
          text-indent: 0;

          .thumbnail {
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: all 550ms ease-out;

            img {
              width: 50px;
              height: 50px;
              -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
              margin-left: 2px;
            }
          }

          &.active {
            .thumbnail {
              img {
                filter: grayscale(0);
                transform: scale(1.8);
              }
            }
          }
        }
      }

      .mob_img {
        height: 19rem;
        object-fit: contain;
      }
    }

    .container-index {
      padding-bottom: 0;
    }
  }
  /************ css for navbar toggle ****************/
  * {
    // margin: 0;
    // padding: 0;
  }
  /* Icon 1 */
  #nav-icon1,
  #nav-icon2,
  #nav-icon3,
  #nav-icon4 {
    width: 1rem;
    height: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span,
  #nav-icon3 span,
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $orange;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  /* Icon 2 */
  /* Icon 3 */
  #nav-icon3 span:nth-child(1) {
    top: 0;
  }

  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 5px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 10px;
  }

  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }

  .overlay {
    color: rgba(224, 152, 135, 0.39);
  }

  .number {
    @include mobile {
      margin-top: -5rem !important;
    }
  }

  .gifplay {
    width: 90%;
  }
}

.aa {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.numaric_val {
  color: #ff8080;
  visibility: hidden;
  font-size: 12px;
  margin-top: 2px;

}

.email_val {
  position: absolute;
  color: #ff8080;
  visibility: hidden;
  font-size: 12px;
  margin-top: 2px;
  bottom: -1.2rem;
}
// .email_form{
//   margin-bottom: 1rem;
// }

#youtube_video{
  .modal-dialog{
    max-width: 1200px;
  }
  .modal-content{
    background: black;
    max-width:70rem;
  }
  .modal-header{
    padding: 0;
  }
  .modal-body{
    padding: 0;
  }
  .close{
    top:-22px;
    right: 14px;
  }
  .yt_video{
    width: 100%;
    height: 630px;
    @include mobile{
        height: 315px;
    }
    @include tablet{
        height: 415px;
    }
  }
}
.show_tooltip1{
  position: absolute;
  display: none;
  font-size: 12px;
  padding: 8px;
  border-radius: 6px;
  color: white;
  background: $orange;
  top:-2.5rem;
  left:-2rem;
letter-spacing: 0.8px;
  .arrow-down{
    position: absolute;
    font-size: 20px;
    color: $orange;
top:1.55rem;
left:4.15rem;
  }
}

#hoveron{
  position: relative;
  &:hover{
  .show_tooltip1{
    display: block;
  }
  }
}
